
*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: dimgray;
    font-family: 'poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }

  button {
    background-color: whitesmoke;
    border: 0;
    border-radius: 25px;
    box-shadow: 03px 5px rgba(0, 0, 0, 2);
    color: black;
    font-size: 14px;
    padding: 10px 25px;
  }

  
   /* .modal-container1 {
    background-color: salmon;
    pointer-events: none;
    position: fixed;
    opacity: 2;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
  }  */


  .modal-container1.show {
    pointer-events: auto;
    opacity: 1;
  }

  .modal1 {
    background-color:rosybrown;
    border-radius:60px;
    padding: 20px 20px;
    width: 500px;
    max-width: 100%;
    text-align: center;
    box-shadow: 02px 4px rgba(0, 0, 0, 2); ;
  }

  .modal1.show {
    pointer-events: auto;
    opacity: 1;
  }


  .modal1 h1 {
    margin: 0;
  }
  
  .modal1 p {
    font-size: 14px;
    font-family: times 'Times New Roman';
    opacity: 1;
  }


  button {
    background-color: whitesmoke;
    border: 0;
    border-radius: 25px;
    box-shadow: 03px 5px rgba(0, 0, 0, 2);
    color: black;
    font-size: 14px;
    padding: 20px 20px;
  }

   .modal-container2 {
    background-color: orange;
    pointer-events: none;
    position: fixed;
    opacity: 1;
    top: 20;
    bottom: 20;
    height: 100px;
    width: 200px;
    display: none;
    align-items: center;
    justify-content: center;
  }   s

  .modal2 {
    background-color: khaki;
    border-radius:60px;
    padding: 20px 20px;
    width: 500px;
    max-width: 100%;
    text-align: center;
    box-shadow: 02px 4px rgba(0, 0, 0, 2); ;
  }

  .modal2.show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .modal2 h1 {
    margin: 0;
  }
  
  .modal2 p {
    font-size: 14px;
    font-family: times 'Times New Roman', Times, serif;
    opacity: 1;
  }


  /* .modal-container3 {
    background-color: blue;
    pointer-events: none;
    position: fixed;
    opacity: 1;
    top: 5;
    bottom: 20;
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }  */
  
  .modal3 {
    background-color: olive;
    border-radius:60px;
    padding: 20px 20px;
    width: 500px;
    max-width: 100%;
    text-align: center;
    box-shadow: 02px 4px rgba(0, 0, 0, 2); ;
  }
  
  .modal3 h1 {
    margin: 0;
  }

  .modal3.show {
    pointer-events: auto;
    opacity: 1;
  }

   /* .modal-container4 {
    background-color: firebrick;
    pointer-events: none;
    position: fixed;
    opacity: 1;
    top: 5;
    bottom: 10;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }  */
  
  .modal4 {
    background-color: goldenrod;
    border-radius:60px;
    padding: 20px 20px;
    width: 500px;
    max-width: 100%;
    text-align: center;
    box-shadow: 02px 4px rgba(0, 0, 0, 2); ;
  }
  
  .modal4 h1 {
    margin: 0;
  }

  .modal4.show {
    pointer-events: auto;
    opacity: 1;
  }

  .hidden {
    display: none;
  } 

